<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('mdbootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('mdbootstrap/css/mdb.min.css') }}">
        <link rel="stylesheet" href="{{ asset('mdbootstrap/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('slick/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-fixed navbar-expand-lg navbar-light white" style="z-index: 5;">

            <div class="container"> 

                <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('logo/logo-mfcc-nav.png') }}" height="50" alt="mdb logo">
                </a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/">Blog</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/angular/">Our Team</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/react/">Projects</a>
                    </li>
                </ul>

                <!-- Right -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class=" fab fa-facebook-f"></i>Facebook
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                        <i class="fab fa-instagram"></i> Instagram</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <form class="form-inline">
                            <button class="btn btn-sm btn-outline-light-green lighten-2" type="button">Sign in</button>
                            <button class="btn btn-sm green lighten-2" style="color: white;" type="button">Get involved</button>
                        </form>
                    </li>
                </ul>

                </div>

            </div>

            </nav>

        {% block body %}{% endblock %}
        <!-- Footer -->
        <footer class="page-footer font-small green lighten-2 pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>
        
                <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
                </ul>

            </div>
            <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/">Rabemorasata Heriniaina Safidy</a>
        </div>
        <!-- Copyright -->

        </footer>
        <!-- Footer -->
        <script type="text/javascript" src="{{ asset('mdbootstrap/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('mdbootstrap/js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('mdbootstrap/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('mdbootstrap/js/mdb.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('slick/slick.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('script.js') }}"></script>

        {% block javascripts %}
        
        {% endblock %}
    </body>
</html>
